body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Add your own custom styles here */
* {
  box-sizing: border-box;
}
#container {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

.contain {
  display: flex;
  flex-wrap: wrap;
}

.reviewBox {
  border: 2px solid rgb(192, 62, 218);
  margin-bottom: 3px;
}

.commentBox {
  border: 2px solid rgb(240, 89, 177);
  width: 100%;
}

/*make it a scroll box*/

.myReviewBox {
  border: 2px solid rgb(192, 62, 218);
  margin-bottom: 3px;
  width: 200px;
}

ul {
  list-style-type: none;
}

#reviewForm {
  display: flex;
  width: 300px;
}

#mainPageHeading {
  text-align: center;
}

.wineCard {
  margin-top: 10vh;
  border-radius: 10px;
  width: 50vh;
  text-align: center;
}

.winePic {
  height: 50%;
  width: 50%;
  margin: 5%;
}

.bookcard:hover {
  background-color: rgb(40, 174, 82);
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
}

.welcome {
  background-color: teal;
}
