body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Add your own custom styles here */
* {
  box-sizing: border-box;
}
#container {
  display: flex;
  flex-wrap: wrap;
}

.contain {
  display: flex;
  flex-wrap: wrap;
}

#reviewForm {
  display: flex;
  width: 300px;
}

.wineCard {
  margin-top: 10vh;
  border-radius: 10px;
  width: 50vh;
  text-align: center;
}

.winePic {
  height: 50%;
  width: 50%;
  margin: 5%;
}

.bookcard:hover {
  background-color: rgb(40, 174, 82);
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
}

.welcome {
  background-color: teal;
}
